= form_for(@appliance) do |f|
  - if @appliance.errors.any?
    #error_explanation
      %h2
        = pluralize(@appliance.errors.count, "error")
        prohibited this device from being saved:
      %ul
        - @appliance.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :Tienda
    %br/
    = f.number_field :storeNumbre, {:class => "form-control"}
  .field
    = f.label :Nombre
    %br/
    = f.text_field :name, {:class => "form-control"}
  .field
    = f.label :Ip_Interna
    %br/
    = f.text_field :intIp, {:class => "form-control"}
  .field
    = f.label :Ip_Externa
    %br/
    = f.text_field :extIp, {:class => "form-control"}
  .field
    = f.label :Marca
    %br/
    = f.text_field :brand, {:class => "form-control"}
  .field
    = f.label :Modelo
    %br/
    = f.text_field :model, {:class => "form-control"}
  .field
    = f.label :Usuario
    %br/
    = f.text_field :user, {:class => "form-control"}
  .field
    = f.label :password
    %br/
    = f.text_field :password, {:class => "form-control"}
  .field
    = f.label :customer_id
    %br/
    = f.collection_select :customer_id, Customer.order(:name),:id, :name, {:prompt => 'Select'}, {:class => "form-control"}
  .actions
    = f.submit