<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  <p>Gracias  por contactar con el equipo de soporte de Blue Sage, confirmamos que su solicitud ha sido recibida con los siguientes datos:</p>
  <h>Cliente:<%= @customer%></h>
    <p>Contacto: <%= @name%></p>
    <p>Fecha: <%= @day%>/<%= @month%>/<%= @year%></p>
    <p>Notas: <%= @notas%></p>
  <p>Daremos seguimiento a su reporte, cualquier duda favor de comunicarse a los telefonos: (664)6343640 y (664)6817089</p>
  <p>o al correo : soporte@bluesage.com.mx </p>
  </body>
</html>
