= form_for(@customer) do |f|
  - if @customer.errors.any?
    #error_explanation
      %h2
        = pluralize(@customer.errors.count, "error")
        prohibited this customer from being saved:
      %ul
        - @customer.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :accnumber
    %br
      = f.text_field :accnumber
  .field
    = f.label :name
    %br
      = f.text_field :name
  .field
    = f.label :adress
    %br
      = f.text_area :adress
  .field
    = f.label :phone
    %br
      = f.text_field :phone
  .field
    = f.label :contact
    %br
      = f.text_field :contact
  .field
    = f.label :rfc
    %br
      = f.text_field :rfc
  .field
    = f.label :email
    %br
      = f.text_field :email
  .field
    = f.label :ip
    %br
      = f.text_field :ip
  .field
    = f.label :server
    %br
      = f.text_area :server
  .field
    = f.label :datacenter
    %br
      = f.check_box :datacenter
  .field
    = f.label :vpacesetter
    %br
      = f.text_field :vpacesetter
  .field
    = f.label :vprogress
    %br
      = f.text_field :vprogress
  .field
    = f.label :userNumber
    %br
      = f.number_field :userNumber
  .field
    = f.label :catalog
    %br
      = f.text_field :catalog
  .field
    = f.label :softwareC
    %br
      = f.text_field :softwareC
  .field
    = f.label :programesp
    %br
      = f.text_area :programesp
  .field
    = f.label :emailpdf
    %br
      = f.text_area :emailpdf
  .field
    = f.label :emailxml
    %br
      = f.text_area :emailxml
  .field
    = f.label :pdf
    %br
      = f.check_box :pdf
  .actions
    = f.submit