<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @customer.adress %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @customer.contact %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @customer.rfc %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @customer.ip %>
</p>

<p>
  <strong>Server:</strong>
  <%= @customer.server %>
</p>

<p>
  <strong>Datacenter:</strong>
  <%= @customer.datacenter %>
</p>

<p>
  <strong>Vpacesetter:</strong>
  <%= @customer.vpacesetter %>
</p>

<p>
  <strong>Vprogress:</strong>
  <%= @customer.vprogress %>
</p>

<p>
  <strong>Usernumber:</strong>
  <%= @customer.userNumber %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @customer.catalog %>
</p>

<p>
  <strong>Softwarec:</strong>
  <%= @customer.softwareC %>
</p>

<p>
  <strong>Programesp:</strong>
  <%= @customer.programesp %>
</p>

<p>
  <strong>Emailpdf:</strong>
  <%= @customer.emailpdf %>
</p>

<p>
  <strong>Emailxml:</strong>
  <%= @customer.emailxml %>
</p>

<p>
  <strong>Pdf:</strong>
  <%= @customer.pdf %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
