%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", :href => "#home"} Datos
  %li
    %a{"data-toggle" => "tab", :href => "#menu1"} Atenciones
  %li
    %a{"data-toggle" => "tab", :href => "#menu7"} Archivos

.tab-content
  #home.tab-pane.fade.in.active
    %h3
    = form_for(@ticket) do |f|
      - if @ticket.errors.any?
        #error_explanation
          %h7
            = pluralize(@ticket.errors.count, "error")
            prohibited this category from being saved:
          %ul
            - @ticket.errors.full_messages.each do |message|
              %li= message
      #accordion.panel-group
        .panel.panel-default
          .panel-heading
            %h7.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1"}
                Datos Generales
          #collapse1.panel-collapse.collapse.in
            .panel-body
              .row
                .col-sm-9
                  = f.label :date
                  = f.datetime_select :date, {class: "form-control"}, :disabled => true
                .col-sm-9
                  = f.label :customer_id
                  = f.select(:customer_id, options_from_collection_for_select(Customer.all, :id, :full_name, @ticket.customer_id),{}, {:class => "form-control"} )
                .col-sm-9
                  = f.label :notes
                  = f.text_area :notes, {class: "form-control"}
                .col-sm-9
                  = f.label :contactName
                  = f.text_field :contactName, {class: "form-control"}
                .col-sm-9
                  = f.label :situation_id
                  = f.select(:situation_id, options_from_collection_for_select(Situation.all, :id, :name, @ticket.situation_id),{}, {:class => "form-control"} )
                .col-sm-9
                  = f.label :priority_id
                  = f.select(:priority_id, options_from_collection_for_select(Priority.all, :id, :name, @ticket.priority_id),{}, {:class => "form-control"} )
                .col-sm-9
                  = f.label :category_id
                  = f.select(:category_id, options_from_collection_for_select(Category.all, :id, :name, @ticket.category_id),{}, {:class => "form-control"} )
                .col-sm-9
                  = f.label :employee_id
                  = f.select(:employee_id, options_from_collection_for_select(Employee.all, :id, :name, @ticket.employee_id),{}, {:class => "form-control"} )
                .col-sm-9
                  = f.hidden_field :user_id, :value => current_user.id.to_i
                .col-sm-9
                  = f.label :user_id
                  = f.text_field :user_id, :value => @ticket.user.name, :disabled => true
                .col-sm-9
                  = f.file_field :image
                  = image_tag(@ticket.image.thumb.url)
                  = link_to "Ver", image_path(@ticket.image), :target => "_blank"
                  = f.check_box :remove_image

      .actions
        = f.submit "Guardar", class: "btn btn-default"
          
  #menu1.tab-pane.fade
    %h3 Atenciones
    .row-fluid
      .col-md-17
        = render  'activities_grid'
  #menu7.tab-pane.fade
    %h3 Archivos
    .row-fluid
      .col-md-17
        = render  'attacheds_grid'