= form_for(@ticket) do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2
        = pluralize(@ticket.errors.count, "error")
        prohibited this ticket from being saved:
      %ul
        - @ticket.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :date
    %br
      = f.datetime_select :date
  .field
    = f.label :contactName
    %br
      = f.text_field :contactName
  .field
    = f.label :notes
    %br
      = f.text_area :notes
  .field
    = f.label :employee_id
    %br
      = f.select(:employee_id, options_from_collection_for_select(Employee.all, :id, :name))
  .field
    = f.label :customer_id
    %br
      = f.select(:customer_id, options_from_collection_for_select(Customer.all, :id, :name))
  .field
    = f.label :priority_id
    %br
      = f.select(:priority_id, options_from_collection_for_select(Priority.all, :id, :name))
  .field
    = f.label :situation_id
    %br
      = f.select(:situation_id, options_from_collection_for_select(Situation.all, :id, :name))
  .field
    = f.label :category_id
    %br
      = f.select(:category_id, options_from_collection_for_select(Category.all, :id, :name))
  .field
    %br
      = f.hidden_field :user_id, :value => current_user.id.to_i
  .actions
    = f.submit