<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @solution.description %>
</p>

<p>
  <strong>File:</strong>
  <%= @solution.file %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @solution.solution %>
</p>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
